@import url("https://use.typekit.net/ycx2nxz.css");

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: century-gothic, sans-serif;
}

button:focus {outline:0;}

html{
  height: 100%;
}

.App {
  position: fixed;
  background: black;
  color: #fff;
  min-height: 100vh;
  padding: 25px 5%;
  text-align: left;
}

.App img {
  cursor: grab;
  width: 10vw;
  height: auto;
}

h1{
  font-weight: 500;
  color: #3e3e3e;
  padding-left: 2%;
}

a{
  text-decoration: none;
  color: white;
}

main{
  margin-top: 150px;
}

#single-letter{
  width: 100%;
}

@media screen and (max-width: 768px) {
  #single-letter{
    display: inline-block;
    width: 100%;
  }

  .toolbar__navigation{
    flex-direction: column;
    align-items: flex-start;
  }

  #alphabet-margin{
    margin-top: 300px;
  }
}

